{% extends 'file/base.html' %}

{% block title %}
    <title>
      Upload File
    </title>
{% endblock %}

{% block style %}
 <style>
    table {
      margin: auto;
    }
    #menudiv{
      width: auto;
      height: auto;
      text-align: center;
    }
    #button
    {
      text-align: center;
      width: 250px;
      height: 30px;
    }
    #container
    {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>errrrrrrror</h1>
  <a href="/"><button id="myButton" class="float-left submit-button" >Home</button></a>
{% endblock %} 

